name: "CI Pipeline"

on:
  push:
    branches: [main]
  schedule:
    - cron: '0 0 * * 0'  # Runs every Sunday at midnight ( minute, hour, day of month, month, day of week)

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Printing message
        run: echo "This is a scheduled run \n it will run every Sunday at midnight"


  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

