name: "CI Pipeline"

on:
  push:
    branches: [main]
  schedule:
    - cron: '0 0 * * 0'  # Runs every Sunday at midnight ( minute, hour, day of month, month, day of week)

jobs:
  run-script:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    steps:
      - name: Printing message
        run: echo "This is a scheduled run \n it will run every Sunday at midnight only"


  learn:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

  build:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4.2.2

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 'lts/*'
        cache: 'npm'
        cache-dependency-path: ./nextjs/package-lock.json

    - name: Install dependencies
      working-directory: ./nextjs
      run: npm install

    - name: Build Nextjs Application
      working-directory: ./nextjs
      run: npm run build

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4.6.0
      with:
        name: nextjs-build
        path: nextjs/.next/

